.progreso-content {
    --ion-background-color: #000;
    color: white;
  }
  
  .perfil-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3b3ff; 
    padding: 16px;
    border-radius: 10px;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 25px;
  }
  
  .buttons-container ion-button {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    color: black;
  }
  
  .custom-datetime {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-width: 100%; /* Asegura que ocupe el 100% del espacio disponible */
    --background: #d3b3ff; /* Color de fondo personalizado (ajústalo a lo que necesites) */
    --border-radius: 8px; /* Redondea las esquinas */
    --color: #007bff; /* Color del texto y los botones */
  }
  
  ion-item {
    --background: transparent; /* Elimina el fondo del item para que se vea el fondo del ion-datetime */
  }
  
 
  .water-tracking {
    margin: 10px 0;
  }
  
  .calendar {
    background-color: #232323;
    padding: 10px;
    border-radius: 10px;
  }
  