<ion-header>
  <ion-toolbar>
    <ion-title>Tu Progreso</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="progreso-content">
  <div class="perfil-container">
    <div class="user-info">
      <h3>Juan Carlos</h3>
      <p>Edad: 28 <ion-icon name="male-outline"></ion-icon></p>
      <p>86 Kg | 1.96 CM</p>
    </div>
    <div class="custom-avatar">
      <img src="assets/cbum.jpeg" alt="user" />
    </div>
  </div>

  <div class="buttons-container">
    <ion-button expand="block" fill="outline">100 puntos <ion-icon name="trophy-outline"></ion-icon></ion-button>
    <ion-button expand="block" fill="outline">Racha de 10 días <ion-icon name="flame-outline"></ion-icon></ion-button>
  </div>

  <div class="calendar">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h4 class="calendar-tittle">
            
          </h4>
          <!-- Usando el componente ion-datetime con estilo personalizado -->
          <ion-item>
            <ion-datetime [(ngModel)]="selectedDate" display-format="DD MMM YYYY" class="custom-datetime"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <h4 class="water-tracking-title">Hoy has bebido</h4>
  <div class="water-tracking">
    <ion-card class="water-card">
      <ion-card-content class="water-card-content">
        <ion-icon name="water-outline" class="water-icon"></ion-icon>
        4 vasos de agua
        <ion-button fill="clear" size="small" class="add-button">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>


    <ion-list [inset]="true">
      <ion-item>
        <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
        <ion-input aria-label="Task name" value="Haz actividad fisica por 10 minutos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
        <ion-input aria-label="Task name" value="Haz 3 comidas diarias"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
        <ion-input aria-label="Task name" value="Realiza un control de tu salud"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox slot="start" aria-label="Toggle task completion"></ion-checkbox>
        <ion-input aria-label="Task name" value="Consume tu primer vaso de agua diario"></ion-input>
      </ion-item>
    </ion-list>

  

  <h4 class="actividades-title">Actividades</h4>
  <ion-card class="actividad-card">
    <ion-card-header>
      <ion-card-title>Correr</ion-card-title>
      <ion-card-subtitle>120 Kcal | Duración: 60 Mins</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Domingo 06 - 9:00 AM</ion-card-content>
  </ion-card>
  

<ion-footer>
  <ion-toolbar>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="summary">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="star">
        <ion-icon name="star-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="support">
        <ion-icon name="headset-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-footer> 
