// favoritos.page.scss

.toolbar-background {
  background:#ac6fb8;
}

  ion-padding{
    color: whitesmoke;
  }


ion-thumbnail {
    --size: 80px;
    margin: 10px;
  }
  
  ion-list-header {
    background: transparent;
    padding-top: 2px;
    padding-bottom: 16px;
  }
  
  ion-list-header h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }
  
  ion-item {
    background-color: white !important; /* Asegura que el fondo blanco se aplique */
    margin-bottom: 10px !important; /* Espaciado entre los ítems */
    border-radius: 10px !important; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; /* Sombra sutil */
  }

  ion-item-sliding ion-item {
    background-color: white !important;
    margin-bottom: 10px !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  
  
  
  ion-card {
    margin: 20px;
    text-align: center;
  }
  
  ion-segment-button[_ngcontent-ng-c1385440174] {
    --indicator-color: #d3b3ff;
}

  ion-segment-button{
    --indicator-color: #d3b3ff;
}
  
  ion-segment-button {
    --indicator-color: var(--ion-color-primary);
  }