.toolbar-background {
  
  --background: none;
  color: white;
}

h1{
  font-size: large;
}


.filters {
  padding: 0 16px;
  margin-top: 8px;
  color: transparent;
}

ion-segment {
 
  border-radius: 16px;
}

ion-segment-button {
  --color-checked: white; /* Texto cuando está seleccionado */
  --indicator-color: #d3b3ff; /* Color del indicador */
  --background-checked: transparent; /* Fondo transparente para seleccionado */
  color: white;
}

ion-item {
  --background: white; /* Fondo oscuro para las tarjetas */
  border-radius: 10px;
  margin: 8px 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra */
}

ion-thumbnail {
  border-radius: 8px;
}

ion-label h2 {
  font-weight: bold;
  color: black;
}

ion-label p {
  color: #4d4d4d;
}

ion-icon {
  color: white;
}

ion-thumbnail img {
  object-fit: cover; /* Asegura que las imágenes llenen el espacio */
  width: 100%; /* Imagen ocupa todo el thumbnail */
  height: 100%;
}
