ion-content.custom-content {
  background-color: #080d4f;
  height: 100%;
  --ion-background-color: #080d4f;
}

.gradient-text {
  background: linear-gradient(to right, #00bfff, #690f99); 
  background-clip: text; 
  color: transparent; 
  font-weight: bold; 
  font-size: 25px; 
}

.custom-content {
  background-color: #080d4f !important; /* Fuerza el color de fondo */
  height: 100%; /* Asegúrate de que ocupe toda la altura */
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ion-margin{
  margin-top: 10px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 15px;
  --highlight-color-focused: var(--ion-color-primary);
  display: block; /* Cambia el ion-item a block para que las etiquetas queden arriba */
}

ion-label {
  font-size: 14px; /* Ajusta el tamaño de las etiquetas */
  color: white; /* Color blanco para el texto */
  margin-bottom: 5px; /* Separación entre la etiqueta y el input */
  display: block; /* Posiciona el label encima del input */
}

ion-input {
  font-size: 14px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 8px;
  --padding-end: 8px;
  height: 40px;
  background-color: white; /* Fondo blanco del input */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  color: black; /* Texto negro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 100%; /* Asegura que el input ocupe todo el espacio disponible */
}



.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}


ion-card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #3a3a3a; /* Fondo de la tarjeta cambiado a gris */
}

ion-card-header {
  text-align: center;
  padding: 20px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  margin-top: 10px;
  color: #bbbbbb;
}

ion-item {
  
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 15px;
}


.login-button {
  margin-top: 34px;
  width: 80%;
  max-width: 300px;
  --background: rgba(255, 255, 255, 0.1);
  --border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  text-transform: none;
  margin-bottom: 22px;
}


.link-register{
  color: white;
  font-weight: bold;
}


ion-checkbox {
  --background: #3a3a3a; /* Fondo del checkbox */
  --color-checked: #6c63ff; /* Color cuando está marcado */
}

.social-buttons ion-button {
  --background: linear-gradient(to right, #00bfff, #690f99); /* Gradiente personalizado */
  --color: white; /* Color del ícono dentro del botón */
  --border-radius: 50%; /* Hace que los botones sean redondos */
  width: 50px; /* Ajusta el tamaño del botón */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de elevación */

  &:hover {
    filter: brightness(0.9); /* Efecto hover más oscuro */
  }
}

.social-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  justify-content: center;
}
