<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <!-- Primer icono con routerLink -->
      <ion-icon name="search-outline" [routerLink]="['/ejercicios']"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <!-- Saludo y detalles del usuario -->
  <div class="welcome-section">
    <h1>Hola, {{userName}}</h1>
    <p class="subtitulo">Es hora de desafiar tus límites.</p>
  </div>

  <ion-toolbar color="" class="custom-toolbar">
    <ion-row class="icon-bar">
      <ion-col class="icon-item">
        <ion-icon name="barbell-outline"></ion-icon>
        <p>Ejercicios</p>
      </ion-col>
      <ion-col class="icon-item">
        <ion-icon name="clipboard-outline"></ion-icon>
        <p>Desafíos</p>
      </ion-col>
      <ion-col class="icon-item">
        <ion-icon name="nutrition-outline"></ion-icon>
        <p>Recetas</p>
      </ion-col>
      <ion-col class="icon-item">
        <ion-icon name="people-outline"></ion-icon>
        <p>Perfil</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  
  <!-- Consejo del día -->
  <div class="tip-section">
    <h2>Consejo Del Día</h2>
    <p>{{dailyTip}}</p>
  </div>

  <!-- Ejercicios recomendados -->
  <div class="exercises-section">
    <div class="header-row">
      <h2 class="section-title">Ejercicios</h2>
      <ion-text class="ver-mas-text">Ver Más</ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="/src/assets/trote.jpg" alt="trotar" class="image"/>
            <ion-card-header>
              <ion-card-title>Trotar</ion-card-title>
              <ion-card-subtitle>30 Minutos - 200 Kcal</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="assets/images/bike.jpg" />
            <ion-card-header>
              <ion-card-title>Andar en bicicleta</ion-card-title>
              <ion-card-subtitle>1 Hora - 550 Kcal</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Consejos adicionales -->
  <div class="advice-section">
    <div class="header-row">
      <h2>Consejos</h2>
      <ion-text class="ver-mas-text">Ver Más</ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src=img src="assets/images/diet.jpg" alt="diet image">
            <ion-card-header>
              <ion-card-title>Lleva Un Registro De Tu Dieta</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <img src="assets/images/training.jpg" />
            <ion-card-header>
              <ion-card-title>Realiza Actividad Diaria</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Navegación inferior -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-fab-button (click)="irAChatBot()" color="">
  <ion-icon name="chatbubbles-outline"></ion-icon>
</ion-fab-button>
