<ion-content class="perfil-content">
  <div class="perfil-container">
    <div class="user-info">
      <h3>Juan Carlos</h3>
      <p>Mantener peso <ion-icon name=""></ion-icon></p>
      <p>Cumpleaños: 27 Diciembre</p>
    </div>
    <div class="custom-avatar">
      <img src="assets/cbum.jpeg" alt="user" />
    </div>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-input 
        label="Nombre completo" 
        label-placement="floating" 
        formControlName="fullName" 
        type="text" 
        placeholder="Actualiza su nombre">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="fitness-outline"></ion-icon>
      <ion-input 
        label="Peso (kg)" 
        label-placement="floating" 
        formControlName="weight" 
        type="number" 
        placeholder="Actualiza tu peso">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon name="man-outline"></ion-icon>
      <ion-input 
        label="Altura (cm)" 
        label-placement="floating" 
        formControlName="height" 
        type="number" 
        placeholder="Actualiza tu altura">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-input 
        label="Edad" 
        label-placement="floating" 
        formControlName="age" 
        type="number" 
        placeholder="Actualiza tu edad">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="body-outline"></ion-icon>
      <ion-label>Género</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
        <ion-select-option value="other">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="pulse-outline"></ion-icon>
      <ion-input 
        label="Objetivo" 
        label-placement="floating" 
        formControlName="goal" 
        type="text" 
        placeholder="Actualiza tu objetivo">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="walk-outline"></ion-icon>
      <ion-input 
        label="Nivel de actividad física" 
        label-placement="floating" 
        formControlName="physicalActivityLevel" 
        type="number" 
        placeholder="Actualiza tu nivel de actividad">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="medkit-outline"></ion-icon>
      <ion-input 
        label="Condiciones de salud" 
        label-placement="floating" 
        formControlName="healthConditions" 
        type="text" 
        placeholder="Actualiza tus condiciones de salud">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-input 
        label="Nueva contraseña" 
        label-placement="floating" 
        formControlName="password" 
        type="password" 
        placeholder="Ingresa tu nueva contraseña">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" class="aligned-item">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-input 
        label="Confirmar contraseña" 
        label-placement="floating" 
        formControlName="confirmPassword" 
        type="password" 
        placeholder="Confirma tu contraseña">
      </ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="block" type="submit" [disabled]="loading" class="update-button">
        {{ loading ? 'Actualizando...' : 'Actualizar Perfil' }}
      </ion-button>
    </div>
  </form>
</ion-content>
