.perfil-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-container {
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  background-color: #d3b3ff;
  padding: 16px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.user-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info h3 {
  margin-bottom: 5px;
}

.custom-avatar {
  width: 100px; /* Ajusta el tamaño del avatar */
  height: 100px; /* Mantén la proporción cuadrada */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

.custom-avatar img {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el área del avatar */
  display: block;
}


ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure label and input are spaced out */
}

ion-item ion-label {
  flex: 1; /* Ensure label takes available space */
}

ion-item ion-icon {
  margin-right: 10px; /* Add spacing to the icon */
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.update-button {
  margin-top: 34px;
  width: 80%;
  max-width: 300px;
  --background: #d3b3ff;;
  --border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  text-transform: none;
  margin-bottom: 22px;
}
