<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/desafios"></ion-back-button>
    </ion-buttons>
    <ion-title>Desafio General</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="desafio-general-container">
    <img [src]="desafioGeneral.imagen" alt="Imagen Desafío General"/>
    <ion-card-header>
      <ion-card-title class="titulo">{{ desafioGeneral.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ desafioGeneral.descripcion }}</p>
      <ion-button class="general" expand="full" color="" (click)="completarDesafio()">
        Completar Desafío
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
