.entrenamiento-card {
    background-color: #d3b3ff;
    color: #fff; /* Cambia el color del texto si es necesario para contraste */
    border-radius: 12px; /* Ajuste de bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra para mayor profundidad */
  }
  
  .entrenamiento-card ion-card-content h2 {
    font-weight: bold;
  }
  
  .entrenamiento-card ion-card-content p {
    margin-top: 8px;
  }
  
  .difficulty-filters{
   
  }

  .filters {
    padding: 0 16px;
    margin-top: 8px;
    color: transparent;
  }
  
  ion-segment {
   
    border-radius: 16px;
  }
  
  ion-segment-button {
    --color-checked: white; /* Texto cuando está seleccionado */
    --indicator-color: #d3b3ff; /* Color del indicador */
    --background-checked: transparent; /* Fondo transparente para seleccionado */
    color: white;
  }
  