<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Desafíos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="desafios-container">
    <ion-button class="semanal-button" expand="block" color="" routerLink="/desafios/semanales">
      Desafios Semanales
    </ion-button>
    <ion-button class="general-button" expand="block" color="" routerLink="/desafios/general">
      Desafio General
    </ion-button>
  </div>
</ion-content>