<!-- register.page.html -->

<ion-content>
  <div class="form-container">
    <div class="icon-container">
        <ion-card-subtitle>Crea una cuenta para continuar</ion-card-subtitle>
      <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    </div>
    <form (ngSubmit)="onRegister()">
      <div *ngIf="currentStep === 1">
        <ion-item class="custom-input">
          <ion-label position="floating">Nombre Completo</ion-label>
          <ion-input type="text" [(ngModel)]="registerForm.full_name" name="full_name" required></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="registerForm.username" name="username" required></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="registerForm.password" name="password" required></ion-input>
        </ion-item>
        <ion-button expand="block" class="next-button" (click)="nextStep()">Siguiente</ion-button>
      </div>
      <div *ngIf="currentStep === 2">
        <ion-item class="custom-input">
          <ion-label position="floating">Peso (kg)</ion-label>
          <ion-input type="number" [(ngModel)]="registerForm.weight" name="weight" required></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Altura (cm)</ion-label>
          <ion-input type="number" [(ngModel)]="registerForm.height" name="height" required></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Edad</ion-label>
          <ion-input type="number" [(ngModel)]="registerForm.age" name="age" required></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Género</ion-label>
          <ion-select [(ngModel)]="registerForm.gender" name="gender" required>
            <ion-select-option value="male">Masculino</ion-select-option>
            <ion-select-option value="female">Femenino</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Objetivo</ion-label>
          <ion-select [(ngModel)]="registerForm.goal" name="goal" required>
            <ion-select-option value="lose_weight">Perder peso</ion-select-option>
            <ion-select-option value="gain_muscle">Ganar musculatura</ion-select-option>
            <ion-select-option value="maintain_shape">Mantenerse en forma</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Nivel de Actividad Física</ion-label>
          <ion-select [(ngModel)]="registerForm.physical_activity_level" name="physical_activity_level" required>
            <ion-select-option value="low">Bajo</ion-select-option>
            <ion-select-option value="medium">Moderado</ion-select-option>
            <ion-select-option value="high">Alto</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Condiciones de Salud</ion-label>
          <ion-select [(ngModel)]="registerForm.health_conditions" name="health_conditions" required>
            <ion-select-option value="diabetes">Diabetes</ion-select-option>
            <ion-select-option value="hypertension">Hipertensión</ion-select-option>
            <ion-select-option value="kidney_disease">Enfermedad renal</ion-select-option>
            <ion-select-option value="none">Ninguna</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" class="prev-button" (click)="prevStep()">Anterior</ion-button>
        <ion-button expand="block" type="submit" class="submit-button">Registrar</ion-button>
      </div>
    </form>
    <p class="terms-text">
      Al continuar, aceptas los <span class="terms-link">términos de uso</span> y la <span class="terms-link">política de privacidad</span>.
    </p>
    <p class="login-text">
      ¿Ya tienes una cuenta? <a routerLink="/login" class="login-link">Iniciar sesión</a>
    </p>
  </div>
</ion-content>