
/* register.page.scss */

ion-content {
  --background: #080d4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.header-toolbar {
  --background: transparent;
  --ion-title-color: #ffffff;
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
  --background: #080d4f;
}

.form-container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: #222764;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  margin-top: 70px;
  margin-left: 20px;
}


.icon-container {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 70px;
  color: #6a0dad;
}

h2 {
  font-size: 23px;
  color: white;
  margin-bottom: 20px;
}

.custom-input ion-item {
  --background: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  --color: #000000;
  padding: 4px 10px;
}

ion-label {
  color: #ffffff;
  font-size: 14px;
}

ion-input {
  color: white;
}

.next-button,
.prev-button,
.submit-button {
  --background: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.5);
  --border-radius: 20px; /* Bordes redondeados para el botón ovalado */
  color: white;
  font-weight: bold;
  margin-top: 15px;
  width: 100%;
  max-width: 300px;
  text-transform: none;
}

.terms-text {
  font-size: 12px;
  color: #ffffff;
  margin-top: 20px;
}

.terms-link {
  color: #6a0dad;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.login-text {
  text-align: center;
  margin-top: 20px;
}

.login-link {
  color: #6a0dad; // Cambia el color según tu diseño
  text-decoration: underline;
  cursor: pointer;
}